In [1]:
import pandas as pd

data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
display(df1)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
#多個相同索引Series,可以組成1個DataFrame
display(df1['縣市'])
display(df1['年份'])
display(df1['人口'])

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [5]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df2 = pd.DataFrame(data,columns=['年份','人口','縣市'])
df2

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [3]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df3 = pd.DataFrame(data,columns=['縣市','人口'])
df3

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [4]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df4 = pd.DataFrame(data,index=['one', 'two', 'three', 'foru', 'five', 'six'])
df4

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
foru   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [6]:
data = [
    {'縣市':'台北', '年份':2000, '人口': 2.2},
    {'縣市':'台中', '年份':2001, '人口': 1.1},
    {'縣市':'新竹', '年份':2001, '人口': 1.5},
]

df5 = pd.DataFrame(data)
df5

   縣市    年份   人口
0  台北  2000  2.2
1  台中  2001  1.1
2  新竹  2001  1.5

In [10]:
#2維的ndArray
import numpy as np

data = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(data,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_df

     國文   英文   數學  地理   歷史
1    64   70   76  70   86
2    59   61   68  75   56
3    71  100   81  76   63
4    97   90   73  56   52
5    93   65   57  72   80
6    71   52   60  86   55
7    76   84   64  82   54
8    93   52   71  66   65
9    82   83   82  60   86
10   94   85   87  80  100
11   61   67   71  57   71
12   61   57   94  72   65
13   90   71   50  61   80
14   88   82   51  53   88
15   71   96   61  75   52
16   62   56  100  91   95
17   93   98   88  78   75
18   62   73   64  61   60
19   74   96   96  59   75
20   96   83   77  75   77
21   86   69   61  63   97
22   67   75   73  55   78
23  100   56   74  63   97
24   89   65   54  73   63
25   91   73   66  91   81
26   89   80   70  99   80
27   50   97   59  53   69
28   63   63   89  98   64
29   84   96   64  59   63
30   87   78   88  57   90
31   98   56   64  58   75
32   66   93   73  88   78
33   59   88   53  59   57
34   73   77   86  70   54
35   67   76   85  89   71
36   69   91   77  94   77
37   54   71   81  52   69
38   88   69   59  78   89
39   56   62   89  90   59
40   83   99   50  84   68
41   63   75   68  52   89
42   66   50   60  67   63
43   58   60   70  59   79
44   87   81   68  63   98
45   91   67   63  84   78
46   65   59   50  76   93
47   72   72   97  50  100
48   70   90   54  77   81
49   91   86   66  98   89
50   51   81   58  53   58

In [11]:
total_series = scores_df['國文'] + scores_df['數學'] + scores_df['英文'] + scores_df['地理'] + scores_df['歷史']
display(total_series)
display(scores_df)
scores_df['總分'] = total_series
display(scores_df)
scores_df['平均'] = total_series / 5.0
display(scores_df)

1     366
2     319
3     391
4     368
5     367
6     324
7     360
8     347
9     393
10    446
11    327
12    349
13    352
14    362
15    355
16    404
17    432
18    320
19    400
20    408
21    376
22    348
23    390
24    344
25    402
26    418
27    328
28    377
29    366
30    400
31    351
32    398
33    316
34    360
35    388
36    408
37    327
38    383
39    356
40    384
41    347
42    306
43    326
44    397
45    383
46    343
47    391
48    372
49    430
50    301
dtype: int64

     國文   英文   數學  地理   歷史
1    64   70   76  70   86
2    59   61   68  75   56
3    71  100   81  76   63
4    97   90   73  56   52
5    93   65   57  72   80
6    71   52   60  86   55
7    76   84   64  82   54
8    93   52   71  66   65
9    82   83   82  60   86
10   94   85   87  80  100
11   61   67   71  57   71
12   61   57   94  72   65
13   90   71   50  61   80
14   88   82   51  53   88
15   71   96   61  75   52
16   62   56  100  91   95
17   93   98   88  78   75
18   62   73   64  61   60
19   74   96   96  59   75
20   96   83   77  75   77
21   86   69   61  63   97
22   67   75   73  55   78
23  100   56   74  63   97
24   89   65   54  73   63
25   91   73   66  91   81
26   89   80   70  99   80
27   50   97   59  53   69
28   63   63   89  98   64
29   84   96   64  59   63
30   87   78   88  57   90
31   98   56   64  58   75
32   66   93   73  88   78
33   59   88   53  59   57
34   73   77   86  70   54
35   67   76   85  89   71
36   69   91   77  94   77
37   54   71   81  52   69
38   88   69   59  78   89
39   56   62   89  90   59
40   83   99   50  84   68
41   63   75   68  52   89
42   66   50   60  67   63
43   58   60   70  59   79
44   87   81   68  63   98
45   91   67   63  84   78
46   65   59   50  76   93
47   72   72   97  50  100
48   70   90   54  77   81
49   91   86   66  98   89
50   51   81   58  53   58

     國文   英文   數學  地理   歷史   總分
1    64   70   76  70   86  366
2    59   61   68  75   56  319
3    71  100   81  76   63  391
4    97   90   73  56   52  368
5    93   65   57  72   80  367
6    71   52   60  86   55  324
7    76   84   64  82   54  360
8    93   52   71  66   65  347
9    82   83   82  60   86  393
10   94   85   87  80  100  446
11   61   67   71  57   71  327
12   61   57   94  72   65  349
13   90   71   50  61   80  352
14   88   82   51  53   88  362
15   71   96   61  75   52  355
16   62   56  100  91   95  404
17   93   98   88  78   75  432
18   62   73   64  61   60  320
19   74   96   96  59   75  400
20   96   83   77  75   77  408
21   86   69   61  63   97  376
22   67   75   73  55   78  348
23  100   56   74  63   97  390
24   89   65   54  73   63  344
25   91   73   66  91   81  402
26   89   80   70  99   80  418
27   50   97   59  53   69  328
28   63   63   89  98   64  377
29   84   96   64  59   63  366
30   87   78   88  57   90  400
31   98   56   64  58   75  351
32   66   93   73  88   78  398
33   59   88   53  59   57  316
34   73   77   86  70   54  360
35   67   76   85  89   71  388
36   69   91   77  94   77  408
37   54   71   81  52   69  327
38   88   69   59  78   89  383
39   56   62   89  90   59  356
40   83   99   50  84   68  384
41   63   75   68  52   89  347
42   66   50   60  67   63  306
43   58   60   70  59   79  326
44   87   81   68  63   98  397
45   91   67   63  84   78  383
46   65   59   50  76   93  343
47   72   72   97  50  100  391
48   70   90   54  77   81  372
49   91   86   66  98   89  430
50   51   81   58  53   58  301

     國文   英文   數學  地理   歷史   總分    平均
1    64   70   76  70   86  366  73.2
2    59   61   68  75   56  319  63.8
3    71  100   81  76   63  391  78.2
4    97   90   73  56   52  368  73.6
5    93   65   57  72   80  367  73.4
6    71   52   60  86   55  324  64.8
7    76   84   64  82   54  360  72.0
8    93   52   71  66   65  347  69.4
9    82   83   82  60   86  393  78.6
10   94   85   87  80  100  446  89.2
11   61   67   71  57   71  327  65.4
12   61   57   94  72   65  349  69.8
13   90   71   50  61   80  352  70.4
14   88   82   51  53   88  362  72.4
15   71   96   61  75   52  355  71.0
16   62   56  100  91   95  404  80.8
17   93   98   88  78   75  432  86.4
18   62   73   64  61   60  320  64.0
19   74   96   96  59   75  400  80.0
20   96   83   77  75   77  408  81.6
21   86   69   61  63   97  376  75.2
22   67   75   73  55   78  348  69.6
23  100   56   74  63   97  390  78.0
24   89   65   54  73   63  344  68.8
25   91   73   66  91   81  402  80.4
26   89   80   70  99   80  418  83.6
27   50   97   59  53   69  328  65.6
28   63   63   89  98   64  377  75.4
29   84   96   64  59   63  366  73.2
30   87   78   88  57   90  400  80.0
31   98   56   64  58   75  351  70.2
32   66   93   73  88   78  398  79.6
33   59   88   53  59   57  316  63.2
34   73   77   86  70   54  360  72.0
35   67   76   85  89   71  388  77.6
36   69   91   77  94   77  408  81.6
37   54   71   81  52   69  327  65.4
38   88   69   59  78   89  383  76.6
39   56   62   89  90   59  356  71.2
40   83   99   50  84   68  384  76.8
41   63   75   68  52   89  347  69.4
42   66   50   60  67   63  306  61.2
43   58   60   70  59   79  326  65.2
44   87   81   68  63   98  397  79.4
45   91   67   63  84   78  383  76.6
46   65   59   50  76   93  343  68.6
47   72   72   97  50  100  391  78.2
48   70   90   54  77   81  372  74.4
49   91   86   66  98   89  430  86.0
50   51   81   58  53   58  301  60.2

In [12]:
display(scores_df.loc[10])
display(scores_df.iloc[9])

國文     94.0
英文     85.0
數學     87.0
地理     80.0
歷史    100.0
總分    446.0
平均     89.2
Name: 10, dtype: float64

國文     94.0
英文     85.0
數學     87.0
地理     80.0
歷史    100.0
總分    446.0
平均     89.2
Name: 10, dtype: float64

In [13]:
#slice
scores_df.loc[1:10]

    國文   英文  數學  地理   歷史   總分    平均
1   64   70  76  70   86  366  73.2
2   59   61  68  75   56  319  63.8
3   71  100  81  76   63  391  78.2
4   97   90  73  56   52  368  73.6
5   93   65  57  72   80  367  73.4
6   71   52  60  86   55  324  64.8
7   76   84  64  82   54  360  72.0
8   93   52  71  66   65  347  69.4
9   82   83  82  60   86  393  78.6
10  94   85  87  80  100  446  89.2

In [14]:
#使用list
scores_df.loc[[1, 3, 5, 7, 9]]

   國文   英文  數學  地理  歷史   總分    平均
1  64   70  76  70  86  366  73.2
3  71  100  81  76  63  391  78.2
5  93   65  57  72  80  367  73.4
7  76   84  64  82  54  360  72.0
9  82   83  82  60  86  393  78.6

In [15]:
#前10筆
display(scores_df.iloc[:10])
#最後10筆
display(scores_df.iloc[-10:])

    國文   英文  數學  地理   歷史   總分    平均
1   64   70  76  70   86  366  73.2
2   59   61  68  75   56  319  63.8
3   71  100  81  76   63  391  78.2
4   97   90  73  56   52  368  73.6
5   93   65  57  72   80  367  73.4
6   71   52  60  86   55  324  64.8
7   76   84  64  82   54  360  72.0
8   93   52  71  66   65  347  69.4
9   82   83  82  60   86  393  78.6
10  94   85  87  80  100  446  89.2

    國文  英文  數學  地理   歷史   總分    平均
41  63  75  68  52   89  347  69.4
42  66  50  60  67   63  306  61.2
43  58  60  70  59   79  326  65.2
44  87  81  68  63   98  397  79.4
45  91  67  63  84   78  383  76.6
46  65  59  50  76   93  343  68.6
47  72  72  97  50  100  391  78.2
48  70  90  54  77   81  372  74.4
49  91  86  66  98   89  430  86.0
50  51  81  58  53   58  301  60.2

In [16]:
from requests import Response
import requests
from io import StringIO
import csv
import pandas as pd

def get_data() -> list[dict]:
    link = 'https://raw.githubusercontent.com/roberthsu2003/__2024_02_20_2_4__/main/lesson11/students.csv'
    try :
        down:Response=requests.get(link)
        
    except:
        print("Erro")
        return 1
    file:str=down.text
    b:StringIO=StringIO(file)
    cs=csv.DictReader(b)
    data:list[dict]=list(cs)
    return data
    
data:list[dict] = get_data()
pd.DataFrame(data)

   name height weight
0   李政成    207     42
1   艾巧夫    153     45
2   林昱芳    184     66
3   洪阿惠    162     58
4   陳淑萍    160     79
5   黃旻林    191     79
6   陳怡伶    191     52
7   周怡啟    216     40
8   臧怡君    192     65
9   林柏洋    214     56
10  吳淑惠    173     49
11  魏秋萍    207     62
12  葉志峰    209     63
13  尚偉倫    212     81
14  張莉雯    213     56
15  童建霖    166     43
16  馮耀中    202     53
17  彭虹屏    183     56
18  黃淑芬    164     86
19  黃善迪    169     87
20  邱亭君    218     57
21  游治旺    157     42
22  林瑞喬    197     76
23  童建霖    184     58
24  陳淑娟    171     65
25  林冠蕙    197     57
26  余月修    214     68
27  陳怡容    199     56
28  陳建豪    201     80
29  潘英迪    218     81
30  錢佩豪    191     55
31  林俊翔    207     58
32  程玫靖    178     57
33  黃婷婷    202     48
34  劉慧君    196     64
35  張俊傑    174     84
36  王人仰    171     78
37  趙宛真    217     76
38  游一鈺    204     57
39  方筠紹    207     87
40   戚亨    207     66
41  鄧哲榮    180     69
42  黃淑芬    182     49
43  趙家豪    175     40
44  李政成    215     64
45  尚偉倫    183     42
46  傅佳琳    168     64
47  蔡至剛    171     65
48  艾巧夫    193     51
49  陳彥治    151     64