In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.071169 -0.619449
1    a  two -0.415342 -0.627640
2    b  one  0.732799 -0.045355
3    b  two -0.677069 -0.797998
4    a  one  1.292690 -0.805892

In [2]:
df1 = df.set_index(['key1','key2'])
df1

              data1     data2
key1 key2
a    one  -0.071169 -0.619449
     two  -0.415342 -0.627640
b    one   0.732799 -0.045355
     two  -0.677069 -0.797998
a    one   1.292690 -0.805892

In [3]:
s1 = df1.stack()
s1

key1  key2
a     one   data1   -0.071169
            data2   -0.619449
      two   data1   -0.415342
            data2   -0.627640
b     one   data1    0.732799
            data2   -0.045355
      two   data1   -0.677069
            data2   -0.797998
a     one   data1    1.292690
            data2   -0.805892
dtype: float64

In [4]:
#key2內的值有重覆,無法unstack()
s1.unstack(level='key2')

ValueError: Index contains duplicate entries, cannot reshape

In [5]:
#如果有重覆的資料,必需先做groupby()
df

  key1 key2     data1     data2
0    a  one -0.071169 -0.619449
1    a  two -0.415342 -0.627640
2    b  one  0.732799 -0.045355
3    b  two -0.677069 -0.797998
4    a  one  1.292690 -0.805892

In [6]:
df['data1'].groupby(df['key1']).mean()

key1
a    0.268726
b    0.027865
Name: data1, dtype: float64

In [8]:
#series的groupby()
sums = df['data1'].groupby([df['key1'],df['key2']]).sum()
sums.unstack()

key2       one       two
key1
a     1.221520 -0.415342
b     0.732799 -0.677069

In [9]:
#dataframe的groupby()
df.groupby(['key1','key2']).sum().unstack()

         data1               data2
key2       one       two       one       two
key1
a     1.221520 -0.415342 -1.425341 -0.627640
b     0.732799 -0.677069 -0.045355 -0.797998